.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
}

.main .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    background-color: var(--on-top-dark);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px var(--shadow);
}

.main .card .title {
    font-weight: bold;
    font-size: 2rem;
    color: var(--light);
}

.main .card .description {
    line-height: 1.6;
    font-weight: lighter;
    font-size: 1rem;
    color: var(--light);
}