/* Defining our variables */
:root {

    /* Colors */
    --light: #e5e5e5;
    --dark: #1b263b;
    --lightz: #364864;
    --primary: #ffd000;
    --shadow: #00000030;

    /* Max width */
    --max-w: 1200px;

}

/* Reset some basic styles */
* {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: var(--light);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Apply background image to the entire body */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
}

/* Background pattern */
.container {
    background-color: var(--dark);
    background-image: linear-gradient(45deg, #101520 25%, transparent 25%, transparent 75%, #101520 75%, #101520),
        linear-gradient(45deg, #101520 25%, var(--dark) 25%, var(--dark) 75%, #101520 75%, #101520);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}


/* Header */

.header-container {
    background-color: var(--dark);
    padding: 1rem;
    /* Shadow */
    box-shadow: 0 0 10px 10px var(--shadow);
}

.nav-container {
    width: 100%;
    max-width: var(--max-w);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* Branding */
.nav-container .logo {
    font-size: 2rem;
    color: var(--primary);
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
}

.nav-container ul {
    display: flex;
    /* space between ul childrens */
    gap: 1rem;
    list-style-type: none;
}

.nav-container ul li a {
    background-color: var(--lightz);
    color: var(--primary);
    text-decoration: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bolder;
    /* Rounded edges */
    border-radius: 5rem;
    /* Smooth transformation */
    transition: .3s;
}

.nav-container ul li a:hover {
    background-color: var(--primary);
    color: var(--dark);
}

/* Headlines */
.headline-container {
    width: 100%;
    max-width: var(--max-w);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

.headline-title {
    color: var(--primary);
    font-size: 4rem;
    font-weight: bolder;
}

.headline-description {
    color: var(--light);
    /* Slightly larger than normal text */
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.6;
    max-width: 800px;
    text-align: center;
}

.headline-button {
    background-color: var(--primary);
    color: var(--dark);
    /* Slightly larger than normal text */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    /* Rounded edges */
    border-radius: 5rem;
    cursor: pointer;
    /* Remove default styling */
    border: none;
    outline: none;
    /* Smooth transformation */
    transition: .3s;
}

.headline-button:hover {
    opacity: 0.7;
}